<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    {% extends "base.html" %} {% block body_block %}

    <div class="jumbotron">
      <h1>Django Assignment-1</h1>
      {% if request.user.is_authenticated %} {% if user.is_doctor %} Hello
      Doctor, {% elif user.is_patient %} Hello Patient, {% else %} Hello User
      Please Login {% endif %} {{user.first_name }} {{user.last_name}} 
      {% endif %}
    </div>
  </body>
  {% endblock %}
</html>
