{% extends "base.html" %} {% block title %} Doctors {% endblock %} 
{%block body_block %}
{% if user.is_authenticated %} {% if user.is_patient %}
<h1>Doctors</h1>
<div class="container">
  {% for doctor in object_list %}
    <div class="card">
        <div class="card-body" style="display: inline-block">
            <div class="card-title">
                <img src="{{doctor.user.profile_pic.url}}" alt="Doctor-photo" class="card-img-left" width=100 height=100>
                {{doctor.user.first_name}} {{doctor.user.last_name}}
                <a class="btn btn-primary m-5 float-right" href="{% url 'book-apt' doctor.user.pk%}">Book Appointment</a>
              </div>
            
        </div>
    </div>

  {% endfor %}
{% else %}
You are not allowed here
{% endif %}{% endif %}
{% endblock %}